body {
  background-color:aliceblue;
  margin:50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.counterbox {
  display: block;
  background-color: white;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  border-radius: 15px;
  max-width: 500px;
  margin-block: 10px;
  padding: 30px;
}

.buttonsbox{
  text-align: center;
}

.counter{
  text-align: center;
  font-size: 50px;
}

.message {
  
  background-color: darkgrey;
  text-align: center;
}
.errormessage{
 background-color: red;

}

button {
  background:transparent;
  border-radius: 12px;
  font-size: 20px;
  padding:10px;
  transition-duration: 0.4s;
  
}


.increment:hover { background-color: #4CAF50; color: white}

.decrement:hover {background-color: red; color: white;}

.restart:hover {background-color: black; color: white;}